# Build and Release Folders
bin/
bin-debug/
bin-release/
models/

# Other files and folders
.settings/

# Node
npm-debug.log
node_modules/

# Python
pyenv/
__pycache__/
*.py[cod]
*$py.class

# System files
.DS_Store
